%link{rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css", integrity: "sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin: "anonymous"}
.content
  %h4 Enter an EIN number or Tax ID:
  %form{action: 'ein'}
    %input{name: 'ein'}
    %input{type: "submit"}
